<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-4 background-dark">
        <table class="table-rounded control-table">
            <colgroup>
                <col style="width: 100%">
            </colgroup>
            <tbody>
                <tr>
                    <td>
                        <label class="control-label">Month :</label>
                        <input type="text" id="date" class="form-control" ng-model="model.leave.annual" ng-disabled="ui.mode !== 'NEW'" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="placeholder col-md-12" ng-show="true" style="margin-top: 0px;height: calc(100vh - 138px); padding: 0px 3px 10px 0px;">
            <h1>LEAVE REQUEST EMPTY :(</h1>
        </div>
    </div>
    <div class="col-xs-5 background-light">
        <div class="placeholder col-md-12" ng-show="true" style="height: calc(100vh - 153px); padding: 0px 0px 10px 0px;">
            <h1>LEAVE DETAILS EMPTY :(</h1>
        </div>
    </div>
    <div class="col-xs-3 background-dark">
        <div class="col-md-12" style="margin-top: 10px;height: 35px; background-color: #5093e1;color: white">
            <h4 class="text-center">LEAVE HISTORY</h4>
        </div>
        <div class="placeholder col-md-12" ng-show="true" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <h1>EMPTY HISTORY TO VIEW :(</h1>
        </div>
    </div>
    
</div>
<div class="fab-container">
    <!--<a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>-->
    <a class="fab fab-lg fab-primary" ng-hide="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'EDIT'" ng-click="ui.update();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
