<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-8 background-light">
        <div class="row">
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Advance No :</label>
                <input type="text" id="date" class="form-control" ng-model="model.advanceNo" ng-disabled="true" />
            </div>
<!--            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Date :</label>
                <input type="date" id="date" class="form-control" ng-model="model.date" ng-disabled="ui.mode !== 'NEW' || ui.leaveMode === 'half_day'" />
            </div>-->
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Epf No :</label>
                <input type="text" id="date" class="form-control" ng-model="model.epfNo" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Name :</label>
                <input type="text" id="date" class="form-control" ng-model="model.name" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Month :</label>
                <input type="month" id="date" class="form-control" ng-model="model.month" ng-disabled="ui.mode !== 'NEW'" />
<!--                <select name="month" class="form-control" ng-model="model.name" ng-disabled="ui.mode !== 'NEW'" >
                    <option value="current">CURRENT</option>
                    <option value="previous">PREVIOUS</option>
                </select>-->
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Amount :</label>
                <input type="text" id="date" class="form-control" ng-model="model.amount" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-1" style="margin-top: 35px;">
                <a class="btn btn-sm btn-primary" ng-click="ui.add()"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="col-xs-3" style="margin-top: 29px;">
                <input style="" type="file" custom-on-change="uploadAfterFile" multiple>
            </div>
            <div class="col-xs-5" style="margin-top: 35px;">
                <a class="btn btn-sm btn-warning" ng-click="ui.uplaod()"><span class="glyphicon glyphicon-upload">Upload</span></a>
            </div>
        </div>

        <table class="table-rounded" style="margin-top: 10px">
            <col style="width: 15%">
            <col style="width: 20%">
            <col style="width: 30%">
            <col style="width: 15%">
            <col style="width: 10%">
            <thead class="background-dark"> 
                <tr>
                    <th>Emp No</th>
                    <th>Epf No</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 314px);" ng-show="model.advanceRequest.length">
            <table class="table-rounded table-hover">
                <col style="width: 10%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 35%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="request in model.advanceRequest">
                        <td><label class="label label-default control-label">{{$index + 1}}</label></td>
                        <td>{{request.fromDate| date}}</td>
                        <td>{{request.toDate| date}}</td>
                        <td>{{request.leaveType}}</td>
                        <td>{{model.leave.reason}}</td>
                        <td>
                            <a class="btn btn-danger" ng-click="ui.edit(category, $index)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="model.advanceRequest.length" style="margin-top: 0px;height: calc(100vh - 314px); padding: 0px 3px 10px 0px;">
            <h1>ADVANCE REQUEST EMPTY:(</h1>
        </div>
    </div>

    <div class="col-xs-4 background-dark">
        <div class="col-md-12" style="margin-top: 10px;height: 35px; background-color: #5093e1;color: white">
            <h4 class="text-center">ADVANCE HISTORY</h4>
        </div>

        <div class="placeholder col-md-12" ng-show="false" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 50%">
                    <col style="width: 50%">
                </colgroup>
                <tbody style="text-align: left">
                    <tr>
                        <td>
                            DSAD
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ASDASD
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                    <tr>
                        <td>
                           ASDSADD
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="false" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <h1>EMPTY HISTORY TO VIEW :(</h1>
        </div>
    </div>

</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
