<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-8 background-light">
        <div class="row">
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Epf No :</label>
                <input type="text" id="etfNo" class="form-control" ng-model="model.advance.employee.epfNo" ng-disabled="ui.mode !== 'NEW'"
                       uib-typeahead="employees.epfNo as (employees.epfNo + ' - ' + employees.name) for employees in model.employeeList |filter:{epfNo:$viewValue}|limitTo:5" 
                       typeahead-input-formatter="ui.employeeEpfLabel(model.advance.employee.epfNo);"
                       typeahead-editable='false' />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Employee No :</label>
                <input type="text" id="etfNo" class="form-control" ng-model="model.advance.employee.indexNo" ng-disabled="ui.mode !== 'NEW'"
                       uib-typeahead="employees.indexNo as (employees.indexNo + ' - ' + employees.name) for employees in model.employeeList |filter:{indexNo:$viewValue}|limitTo:5" 
                       typeahead-input-formatter="ui.employeeIndexLabel(model.advance.employee.indexNo);"
                       typeahead-editable='false' />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Name :</label>
                <input type="text" class="form-control" ng-model="model.advance.employee.name" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Month :</label>
                <input type="date" id="month" class="form-control" ng-disabled="true" ng-model="model.advance.month" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;" ng-keypress="ui.validateData($event)">
                <label>Amount :</label>
                <input type="text" smart-input="decimal" class="form-control text-right" ng-model="model.advance.amount" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-1" style="margin-top: 35px;">
                <a class="btn btn-sm btn-primary" ng-disabled="ui.mode !== 'NEW'" ng-click="ui.add()"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="col-xs-3" style="margin-top: 29px;">
                <input style="" type="file" onchange="angular.element(this).scope().ui.excelExport(event)" ng-disabled="ui.mode !== 'NEW'" multiple>
            </div>
            <div class="col-xs-2" style="margin-top: 35px;" >
                <a class="btn btn-sm btn-warning" ng-disabled="ui.mode !== 'NEW'" ng-click="ui.upload()"><span class="glyphicon glyphicon-upload">Upload</span></a>
            </div>
        </div>

        <table class="table-rounded" style="margin-top: 10px">
            <col style="width: 15%">
            <col style="width: 20%">
            <col style="width: 30%">
            <col style="width: 15%">
            <col style="width: 10%">
            <thead class="background-dark"> 
                <tr>
                    <th>Emp No</th>
                    <th>Epf No</th>
                    <th>Name</th>
                    <th class="text-right">Amount</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 314px);" ng-show="model.advanceRequestList.length">
            <table class="table-rounded table-hover">
                <col style="width: 15%">
                <col style="width: 20%">
                <col style="width: 30%">
                <col style="width: 15%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="request in model.advanceRequestList| orderBy:'indexNo'">
                        <td>{{request.employee.indexNo}}</td>
                        <td>{{request.employee.epfNo}}</td>
                        <td>{{request.employee.name}}</td>
                        <td class="text-right">{{request.amount|number:2}}</td>
                        <td>
                            <a class="btn btn-default" ng-click="ui.editRequest($index, request);"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="ui.deleteRequest($index);"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="model.advanceRequestList.length" style="margin-top: 0px;height: calc(100vh - 314px); padding: 0px 3px 10px 0px;">
            <h1>ADVANCE REQUEST EMPTY:(</h1>
        </div>
        <div class="col-xs-12">
            <table class="table-rounded">
                <col style="width: 18%"/>
                <col style="width: 1%"/>
                <col style="width: 50%"/>

                <thead class="background-dark">
                    <tr>
                        <th>ADVANCE REQUEST SUMMARY</th>
                        <th class="text-right">({{model.requestTotal.requestTotal}})</th>
                        <th class="text-right">{{model.requestTotal.requestAmountTotal| number:2}}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="col-xs-4 background-dark">
        <div class="col-md-12" style="margin-top: 10px;height: 35px; background-color: #5093e1;color: white">
            <h4 class="text-center">EMPLOYEE WORKING DETAILS</h4>
        </div>

        <div class="placeholder col-md-12" ng-show="false" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 50%">
                    <col style="width: 50%">
                </colgroup>
                <tbody style="text-align: left">
                    <tr>
                        <td>
                            DSAD
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="false" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <h1>EMPTY HISTORY TO VIEW :(</h1>
        </div>
    </div>

</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
