<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-9 background-light">
        <div class="row">
<!--            <div class="col-xs-2" style="margin-top: 10px;">
                <label>Loan No :</label>
                <input type="text" id="date" class="form-control" ng-model="model.loan.loanNo" ng-disabled="true" />
            </div>-->
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Start Date :</label>
                <input type="date" id="date" class="form-control" ng-model="model.loan.startDate" ng-disabled="ui.mode !== 'NEW' || ui.leaveMode === 'half_day'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Loan Type :</label>
                <select ng-model="model.loan.loanType" class="form-control" ng-options="loanType.name for loanType in model.loanTypeList" ng-disabled="ui.mode !== 'NEW'" ></select>
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Emp No :</label>
                <input type="text" id="date" class="form-control" ng-model="model.employee" ng-keypress="http.selectIndexNo($event,model.employee)" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Epf No :</label>
                <input type="text" id="date" class="form-control" ng-model="model.loan.epfNo" ng-keypress="http.selectEpfNo($event,model.loan.epfNo)" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Name :</label>
                <input type="text" id="date" class="form-control" ng-model="model.empName" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-6" style="margin-top: 10px;">
                <label>Remark :</label>
                <input type="text" id="date" class="form-control" ng-model="model.loan.remark" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-3" style="margin-top: 10px;">
                <label>Amount :</label>
                <input type="text" id="date" smart-input="decimal" class="form-control" ng-model="model.loan.amount" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-2" style="margin-top: 10px;">
                <label>Installment :</label>
                <input type="text" id="date" class="form-control" ng-model="model.loan.installmentCount" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-2" style="margin-top: 10px;">
                <label>Interest Rate :</label>
                <input type="text" id="date" class="form-control" ng-keypress="ui.getMonthlyDeduction($event,model.loan.interestRate)" ng-model="model.loan.interestRate" ng-disabled="ui.mode !== 'NEW'" />
            </div>
            <div class="col-xs-2" style="margin-top: 10px;">
                <label>Mon Deduction :</label>
                <input type="text" id="date" smart-input="decimal" class="form-control" ng-model="model.loan.monthlyDeduction" ng-disabled="true" />
            </div>
            <div class="col-xs-2" style="margin-top: 10px;">
                <label>Total Amount :</label>
                <input type="text" id="date" smart-input="decimal" class="form-control" ng-model="model.loan.totaAmount" ng-disabled="true" />
            </div>
            <div class="col-xs-1" style="margin-top: 35px;">
                <a class="btn btn-sm btn-primary" ng-click="ui.add(model.loan)"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
<!--            <div class="col-xs-3" style="margin-top: 29px;">
                <input style="" type="file" onchange="angular.element(this).scope().ui.excelExport(event)" multiple>
            </div>
            <div class="col-xs-2" style="margin-top: 35px;">
                <a class="btn btn-sm btn-warning" ng-click="ui.upload()"><span class="glyphicon glyphicon-upload">Upload</span></a>
            </div>-->
        </div>

        <table class="table-rounded" style="margin-top: 10px">
            <col style="width: 15%">
            <col style="width: 20%">
            <col style="width: 25%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 10%">
            <thead class="background-dark"> 
                <tr>
                    <th>Epf No</th>
                    <th>Loan Type</th>
                    <th>Remark</th>
                    <th>Amount</th>
                    <th>Deduction</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 314px);" ng-show="model.loanRequest.length">
            <table class="table-rounded table-hover">
                <col style="width: 15%">
                <col style="width: 20%">
                <col style="width: 25%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="request in model.loanRequest">
                        <!--td><label class="label label-default control-label">{{$index + 1}}</label></td>-->
                        <td>{{request.epfNo}}</td>
                        <td>{{request.loanType.name}}</td>
                        <td>{{request.remark}}</td>
                        <td>{{request.amount}}</td>
                        <td>{{request.monthlyDeduction}}</td>
                        <td>
                            <a class="btn btn-danger" ng-click="ui.edit(category, $index)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="model.loanRequest.length" style="margin-top: 0px;height: calc(100vh - 314px); padding: 0px 3px 10px 0px;">
            <h1>LOAN REQUEST EMPTY:(</h1>
        </div>
    </div>

    <div class="col-xs-3 background-dark">
        <div class="col-md-12" style="margin-top: 10px;height: 35px; background-color: #5093e1;color: white">
            <h4 class="text-center">LOAN HISTORY</h4>
        </div>

        <div class="placeholder col-md-12" ng-show="false" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 50%">
                    <col style="width: 50%">
                </colgroup>
                <tbody style="text-align: left">
                    <tr>
                        <td>
                            DSAD
                        </td>
                        <td>
                            {{employee.annual}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ASDASD
                        </td>
                        <td>
                            {{employee.casual}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ASDSADD
                        </td>
                        <td>
                            {{employee.medical}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="false" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <h1>EMPTY HISTORY TO VIEW :(</h1>
        </div>
    </div>

</div>
<div class="fab-container">
    <!--<a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>-->
    <a class="fab fab-lg fab-primary" ng-hide="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'EDIT'" ng-click="ui.update();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
