<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-3 background-dark">
        <div class="smart-scroll-y" style="height: calc(100vh - 96px)" ng-show="model.unapproveAdvanceRequestSum.length">
            <table class="table-rounded" style="margin-top: 10px">
                <col style="width: 60%">
                <col style="width: 10%">
                <col style="width: 30%">
                <thead class="background-light"> 
                    <tr>
                        <th>BRANCH</th>
                        <th class="text-right">#</th>
                        <th class="text-right">AMOUNT</th>
                    </tr>
                </thead>
            </table>
            <table class="table-rounded">
                <col style="width: 60%">
                <col style="width: 10%">
                <col style="width: 30%">
                <tbody>
                    <tr ng-repeat="data in model.unapproveAdvanceRequestSum" ng-click="ui.setSelectBranch(data[0] | number)">
                        <td> {{data[1]}}</td>
                        <td class="text-right"> {{data[2]}}</td>
                        <td class="text-right"> {{data[3]|number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="model.unapproveAdvanceRequestSum.length" style="height: calc(100vh - 52px); padding: 0px 0px 10px 0px;">
            <h1>ADVANCE REQUEST EMPTY:(</h1>
        </div>
        <div class="col-xs-12 nopadding">
            <table class="table-rounded">
                <col style="width: 20%"/>
                <col style="width: 2%"/>
                <col style="width: 11%"/>

                <thead class="background-light">
                    <tr>
                        <th>ADVANCE REQUEST SUM</th>
                        <th class="text-right">({{model.requestTotal.requestTotal}})</th>
                        <th class="text-right">{{model.requestTotal.requestAmountTotal| number:2}}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-xs-6 background-light">
        <table class="table-rounded" style="margin-top: 10px;">
            <col style="width: 10%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 25%">
            <col style="width: 15%">
            <col style="width: 10%">
            <thead class="background-dark"> 
                <tr>
                    <th>#</th>
                    <th>Emp No</th>
                    <th>Epf No</th>
                    <th>Name</th>
                    <th class="text-right">
                        Amount
                    </th>
                    <th><input class="form-control" style="height: 20px" id="checkBox" type="checkbox" ng-click="ui.setChexboxValue(model.checkboxModel.value)" ng-model="model.checkboxModel.value"></th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 314px);" ng-show="model.unapproveAdvanceRequestList.length">
            <table class="table-rounded table-hover">
                <col style="width: 10%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 25%">
                <col style="width: 15%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="request in model.unapproveAdvanceRequestList">
                        <td><label class="label label-default control-label">{{$index + 1}}</label></td>
                        <td>{{request.employee.indexNo}}</td>
                        <td>{{request.employee.epfNo}}</td>
                        <td>{{request.employee.name}}</td>
                        <td class="text-right">
                            {{request.amount|number:2}}
                        </td>
                        <td>
                            <input class="form-control" style="height: 20px" type="checkbox" ng-model="request.isCheck" >
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="placeholder col-md-12" ng-hide="model.unapproveAdvanceRequestList.length" style="margin-top: 0px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <h1>SELECT ADVANCE REQUEST TO VIEW DETAILS :(</h1>
        </div>
    </div>
    <div class="col-xs-3 background-dark">
        <div class="col-md-12" style="margin-top: 10px;height: 35px; background-color: #5093e1;color: white">
            <h4 class="text-center">EMPLOYEE WORKING DETAILS</h4>
        </div>

        <div class="placeholder col-md-12" ng-show="true" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <table class="table-rounded control-table">
                <colgroup>
                    <col style="width: 50%">
                    <col style="width: 50%">
                </colgroup>
                <tbody style="text-align: left">
                    <tr>
                        <td>
                            DSAD
                        </td>
                        <td>
                            {{employee.annual}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ASDASD
                        </td>
                        <td>
                            {{employee.casual}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ASDSADD
                        </td>
                        <td>
                            {{employee.medical}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="true" style="margin-top: 5px;height: calc(100vh - 103px); padding: 0px 0px 10px 0px;">
            <h1>EMPTY HISTORY TO VIEW :(</h1>
        </div>
    </div>

</div>
<div class="fab-container">
    <!--<a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>-->
    <!--<a class="fab fab-lg fab-primary" ng-hide="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>-->
    <a class="fab fab-lg fab-primary" ng-hide="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    <!--<a class="fab fab-lg fab-primary" ng-show="ui.mode === 'EDIT'" ng-click="ui.update();"><i class="glyphicon glyphicon-ok"></i></a>-->
</div>
